package pages

import "github.com/Mpinyaz/GinWebApp/internal/views/layouts"
import "github.com/Mpinyaz/GinWebApp/internal/views/components"
import "github.com/Mpinyaz/GinWebApp/internal/dtos"

templ Register() {
	@layouts.BaseLayout("Register") {
		@components.RegisterForm(dtos.NewFormData())
	}
}
